.App{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
header{
  width: 100%;
  height: 8rem;
  position: absolute;
  z-index: -10;
  background-color: rgb(70, 158, 158);
}
.header-image{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  background: url('/images/bg-header-desktop.svg');
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width:700px) {
  .header-image{
    background: url('/images/bg-header-mobile.svg');
  }
}